################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KafkaHelperLib/obj/Debug/netstandard2.1
/.vs/KafkaAvroStandard/v16
/HttpClientLib
/KafkaApp
/KafkaHelperLib/obj
/.vs/KafkaAvroStandard/DesignTimeBuild
/KafkaHelperLib/bin/Debug/netstandard2.1
/.idea/.idea.KafkaAvroStandard/.idea
